In [1]:
import pandas as pd

In [2]:
score_df = pd.DataFrame([[1,56,66,70], [2,90,45,34], [3,45,32,55], [4,70,77,89], [5,56,80,70], [6,60,54,55], [7,45,70,79], [8,34,77,76], [9,25,87,60], [10,88,40,43]],columns=['student_id','math_score','english_score','chinese_score'])
score_df

   student_id  math_score  english_score  chinese_score
0           1          56             66             70
1           2          90             45             34
2           3          45             32             55
3           4          70             77             89
4           5          56             80             70
5           6          60             54             55
6           7          45             70             79
7           8          34             77             76
8           9          25             87             60
9          10          88             40             43

In [22]:
# 6 號學生(student_id=6) 3 科平均分數為何？
ave = score_df.iloc[5, 1:4].mean()
ave

56.333333333333336

In [27]:
# 6 號學生 3 科平均分數是否有贏過班上一半的同學？
aver = score_df.iloc[:11, 1:4].mean(axis=1)
print(aver)
n = 0
for i in aver:
    if i < ave:
        n = n + 1
print(n)

0    64.000000
1    56.333333
2    44.000000
3    78.666667
4    68.666667
5    56.333333
6    64.666667
7    62.333333
8    57.333333
9    57.000000
dtype: float64
1

In [28]:
# 6號學生沒有贏過班上一半同學

In [29]:
# 由於班上同學成績不好，所以學校統一加分，加分方式為開根號乘以十，請問 6 號同學 3 科成績分別是？
score_df.iloc[5, 1:4].apply(lambda x: x**(0.5) * 10)

math_score       77.459667
english_score    73.484692
chinese_score    74.161985
Name: 5, dtype: float64

In [31]:
# 承上題，加分後各科班平均變多少？
score_df_r = score_df.iloc[:11, 1:4].apply(lambda x: x**(0.5) * 10)
score_df_r.mean()

math_score       74.194221
english_score    78.350301
chinese_score    78.739928
dtype: float64