作業目標:<br>
1. 熟悉分組計算

作業重點: <br>
1. 分組計算也可以加入apply自定義的函數

題目 : 運用下列分數資料分析<br>
1. 找出全年級各科成績最高分與最低分?<br>
2. 找出數學班平均最高的班級?<br>
3. 分析全校女生與男生國文平均差幾分?<br>
score_df = pd.DataFrame([[1,50,80,70,'boy',1],[2,60,45,50,'boy',2],[3,98,43,55,'boy',1],[4,70,69,89,'boy',2],[5,56,79,60,'girl',1],[6,60,68,55,'girl',2],[7,45,70,77,'girl',1],[8,55,77,76,'girl',2],[9,25,57,60,'girl',1],[10,88,40,43,'girl',3],[11,25,60,45,'boy',3],[12,80,60,23,'boy',3],[13,20,90,66,'girl',3],[14,50,50,50,'girl',3],[15,89,67,77,'girl',3]],columns=['student_id','math_score','english_score','chinese_score','sex','class'])

In [12]:
import pandas as pd
score_df = pd.DataFrame([[1,50,80,70,'boy',1], 
              [2,60,45,50,'boy',2],
              [3,98,43,55,'boy',1],
              [4,70,69,89,'boy',2],
              [5,56,79,60,'girl',1],
              [6,60,68,55,'girl',2],
              [7,45,70,77,'girl',1],
              [8,55,77,76,'girl',2],
              [9,25,57,60,'girl',1],
              [10,88,40,43,'girl',3],
              [11,25,60,45,'boy',3],
              [12,80,60,23,'boy',3],
              [13,20,90,66,'girl',3],
              [14,50,50,50,'girl',3],
              [15,89,67,77,'girl',3]],columns=['student_id','math_score','english_score','chinese_score','sex','class'])
new_score_df = score_df.set_index(['class', 'student_id', 'sex'])
new_score_df

                       math_score  english_score  chinese_score
class student_id sex
1     1          boy           50             80             70
2     2          boy           60             45             50
1     3          boy           98             43             55
2     4          boy           70             69             89
1     5          girl          56             79             60
2     6          girl          60             68             55
1     7          girl          45             70             77
2     8          girl          55             77             76
1     9          girl          25             57             60
3     10         girl          88             40             43
      11         boy           25             60             45
      12         boy           80             60             23
      13         girl          20             90             66
      14         girl          50             50             50
      15         girl          89             67             77

In [9]:
#1.找出全年級各科成績最高分與最低分?
print(new_score_df.max())
print(new_score_df.min())

math_score       98
english_score    90
chinese_score    89
dtype: int64
math_score       20
english_score    40
chinese_score    23
dtype: int64

In [27]:
#2.找出數學班平均最高的班級?
temp = new_score_df.groupby('class').mean()
temp[temp['math_score'] == temp['math_score'].max()].index

Int64Index([2], dtype='int64', name='class')

In [29]:
#3.分析全校女生與男生國文平均差幾分?
temp1 = new_score_df.groupby('sex').mean()
abs(temp1.loc['boy', 'chinese_score'] - temp1.loc['girl', 'chinese_score'])

7.333333333333329